.HomeNavOptions {
    border: 2px solid #2c698d;
    padding: 5px;
    border-radius: 30px;
}

.DarkHomeNavOptions {
    border: 2px solid #121212;
    padding: 5px;
    border-radius: 30px;
}

.OptionsHome {
    padding: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.DarkOptionsHome {
    padding: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.OptionsHome:hover {
    border-bottom: 1px groove #2c698d;
    border-top: 1px groove #2c698d;
    margin-bottom: -2px;
    border-radius: 20px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.DarkOptionsHome:hover {
    border-bottom: 1px groove #121212;
    border-top: 1px groove #121212;
    margin-bottom: -2px;
    border-radius: 20px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.SelectedHome {
    background-color: #272643;
    border-radius: 20px;
    color: white;
}

.DarkSelectedHome {
    background-color: #121212;
    border-radius: 20px;
    color: white;
}

@media(max-width:768px) {
    .HomeNavOptions {
        font-size: smaller;
    }
    .DarkHomeNavOptions {
        font-size: smaller;
    }
    .OptionsHome {
        margin-right: 5px;
    }
    .DarkOptionsHome {
        margin-right: 5px;
    }
}