.SearchList {
    position: absolute;
    z-index: 10;
}

.SearchPosterImg {
    object-fit: cover;
    height: 100px;
}

.ResultTag {
    /* margin-top:10px; */
    margin-bottom: -1px;
}

/* .SearchLink:hover {
    color: #545454;
} */