.SearchOptionsItems:hover {
background-color: #E6E6E6;
}

.SearchList {
    position: absolute;
    z-index: 10;
}

.SearchPosterImg {
    object-fit: cover;
    height: 100px;
}

.ResultTag {
    margin-bottom: -1px;
}